
@{
    Library.Models.library.Books1Row books1Row = (Library.Models.library.Books1Row)ViewData["booksRow"];
    System.Data.DataRowCollection writers = (System.Data.DataRowCollection)ViewData["writers"];

    ViewBag.Title = "Update";
    string selected, writerName;
    string keyword = "";
    string hirable;
    if (books1Row.IskeywordNull()==false)
    {
        keyword = books1Row.keyword;
    }



}

<h2>Kitap Güncelle</h2>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<form action="~/books/processbooks" method="post">
    <input type="text" name="booksName" id="booksName" placeholder="Adı" data-val="true" data-val-required="Bu alan boş geçilemez" maxlength="100" value="@books1Row.booksName" />
    <span class="field-validation-valid" data-valmsg-for="booksName" data-valmsg-replace="true"></span> @* hata mesajlarının gösterileceği span id=userName mi bu yüzden verdik*@
    <input type="text" name="keywords" id="keywords" placeholder="Anahtar kelime" maxlength="100" value="@keyword" />
    <input type="hidden" name="id" value="@books1Row.id" />
    <select name="writer">
        @foreach (Library.Models.library.WriterRow writerRow in writers)
        {

            selected = "";
            writerName = writerRow.Name;
            if (writerRow.IsSurnameNull() == false)
            {
                writerName = writerRow.Name + " " + writerRow.Surname;
            }
            if (writerRow.IsAKANull() == false)
            {
                writerName = writerName + "(" + writerRow.AKA + ")";
            }
            if (books1Row.Writer == writerRow.id)
            {
                selected = "selected";
            }

            <option value="@writerRow.id.ToString()" @selected> @writerName</option>

        }

    </select>
    <input type="number" name="stock" id="stock" placeholder="Adet" data-val="true" data-val-required="Bu alan boş geçilemez" maxlength="100" value="@books1Row.Stock" />
    <span class="field-validation-valid" data-valmsg-for="stock" data-valmsg-replace="true"></span>
    
    <input type="number" name="activeStock" id="activeStock" placeholder="aktif stok" data-val="true" data-val-required="Bu alan boş geçilemez" data-val-range-max="@books1Row.Stock" data-val-range="büyük olamaz" maxlength="100" value="@books1Row.ActiveStock" />
    <span class="field-validation-valid" data-valmsg-for="activeStock" data-valmsg-replace="true"></span>
    
    <input type="number" name="closet" id="closet" placeholder="Dolap" data-val="true" data-val-required="Bu alan boş geçilemez" maxlength="100" value="@books1Row.Closet" />
    <span class="field-validation-valid" data-valmsg-for="closet" data-valmsg-replace="true"></span>

    <input type="number" name="shelf" id="shelf" placeholder="Raf" data-val="true" data-val-required="Bu alan boş geçilemez" maxlength="100" value="@books1Row.Shelf" />
    <span class="field-validation-valid" data-valmsg-for="shelf" data-valmsg-replace="true"></span>

    <label for="hirable">Ödünç Verilebilir</label>
    <input type="checkbox" name="hirable" value="true" @books1Row.Hirable />
    <input id="kayit" type="submit" value="KAYDOL" /> @* name verilemeyn inputlar controllerstan çekilemez. methoda parametre olarak gitmez.*@


</form>

@if (ViewData["error"] != null)
{
    <span>@ViewData["error"]</span>
}

