
@{
    Library.Models.library.WriterRow writerRow = (Library.Models.library.WriterRow)ViewData["writerRow"];
    ViewBag.Title = "Update";
    string surname = "";
    string AKA = "";

    if (writerRow.IsSurnameNull()==false)
    {
        surname = writerRow.Surname;
    }
    if (writerRow.IsAKANull() == false)
    {
        AKA = writerRow.AKA;
    }
}

<h2>Yazar Güncelle</h2>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<form action="~/writers/processwriter" method="post">
    <input type="text" name="writerName" id="writerName" placeholder="Adı" data-val="true" data-val-required="Bu alan boş geçilemez" maxlength="100" value="@writerRow.Name"/>
    <span class="field-validation-valid" data-valmsg-for="writerName" data-valmsg-replace="true"></span> @* hata mesajlarının gösterileceği span id=userName mi bu yüzden verdik*@
    <input type="text" name="WriterSurname" id="WriterSurname" placeholder="Soyadı" maxlength="50" value="@surname"/>
    <input type="text" name="AKA" placeholder="Mahlas" maxlength="50" value="@AKA" />
    <input type="hidden" name="id" value="@writerRow.id" />
    <input type="submit" id="kayit"  value="KAYDOL" /> @* name verilemeyn inputlar controllerstan çekilemez. methoda parametre olarak gitmez.*@
    
</form>
@if (ViewData["error"] != null)
{
    <span>@ViewData["error"]</span>
}

